{% include 'navbar.html' %}

<div class="card m-5 border border-success">

	<div class="card-body">
		<h2 class="card-title text-center">Registration Page</h5>
			<h5 class="card-subtitle mb-2 text-body-secondary text-center pb-2">Please enter your details below</h6>
				<form class="was-validated row g-1" method="post" onsubmit="return recon_pass()">
					{% csrf_token %}


					<div class="form-floating col-md-6 mb-3">
						<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required
							pattern="[A-Za-z]+">
						<label for="fname" class="form-label">First Name</label>
						<span class="form-text">
							Only alphabets
						</span>
						<div class="invalid-feedback">
							Please enter first name
						</div>
					</div>
					<div class="form-floating col-md-6 mb-3">
						<input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required
							pattern="[A-Za-z]+">
						<label for="lname" class="form-label">Last Name</label>
						<span class="form-text">
							Only alphabets
						</span>
						<div class="invalid-feedback">
							Please enter last name
						</div>
					</div>

					<div class="form-floating col-md-12 mb-3">
						<input type="text" class="form-control" id="eid" name="eid" placeholder="Employee ID" required
							pattern="[A-Z]{3}[0-9]{3}">
						<label for="eid" class="form-label">Employee ID</label>
						<span class="form-text">
							3 letters followed by 3 numbers
						</span>
						<div class="invalid-feedback">
							Please enter employee ID
						</div>
					</div>

					<div class="form-floating col-md-12 mb-3">
						<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
						<label for="email" class="form-label">Email</label>
						<span class="form-text">
							someone@mail.com
						</span>
						<div class="invalid-feedback">
							Please enter email ID
						</div>
					</div>

					<div class="form-floating col-md-6 mb-3">
						<input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required>
						<label for="pass" class="form-label">Password</label>
						<div class="invalid-feedback">
							Please enter password
						</div>
					</div>
					<div class="form-floating col-md-6 mb-3">
						<input type="password" class="form-control" id="recon" placeholder="Password" required>
						<label for="recon" class="form-label">Reconfirm</label>
						<div class="invalid-feedback">
							Please reconfirm password
						</div>
					</div>

					<div class="mb-3">
						<button class="btn btn-primary" type="submit">Submit form</button>
					</div>
				</form>

	</div>

</div>